* {
    margin: 0;
    padding: 0;
}


/*Box sizing*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*GLOBALES*/


/*SELECTOR ETIQUETA*/

body {
    font-family: 'Lato', sans-serif;
}

nav {
    width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 0;
}

figure {
    margin-bottom: 0;
}

section {
    background: #b6d0f2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b6d0f2 0%, #ffffff 68%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b6d0f2 0%, #ffffff 68%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b6d0f2 0%, #ffffff 68%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b6d0f2', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    background-attachment: fixed;
}


/*LOGIN*/

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.orange {
    width: 100vw;
    background-image: url('./assets/orange-register.jpg');
    background-size: cover;
}

.register-container {
    display: none;
}


/*Register*/

@media only screen and (min-width: 769px) {
    /*LOGIN*/
    .register-container {
        display: block;
    }
    .orange,
    .register-container {
        width: 50%;
        height: 100%;
    }
}